.messenger{
    height: 100vh;
    display: flex;
    .chatMenu{
        flex: 2.0;
        color: #fff;
        background-color: teal;
        .chatMenuWrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .chatMenuMiddle{
                height: 100%;
                overflow-y: auto;
            }
            .chatMenuMiddle::-webkit-scrollbar {
                width: 5px;
            }
            .chatMenuMiddle::-webkit-scrollbar-thumb {
                background: #a8a8a8;
            }
            .chatMenuMiddle::-webkit-scrollbar-thumb:hover {
                background: #c5c4c4; 
            }
            .chatMenuBottom{
                display: flex;
                justify-content: center;
                .logoutBtn{
                    padding: 10px;
                    cursor: pointer;
                    text-align: center;
                    width: 100%;
                    transition: .5s;
                    background-color: #002d47;
                    color: #fff;
                    &:hover{
                        color: #000;
                        background-color: #fff;
                    }
                }
            }
        }
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: teal;
            padding: 0 15px;
            color: #fff;
            height: 8.7vh;
            border-right: 1px solid rgb(3, 168, 168);
            .currentUserImg{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }
            .currentUser{
                display: flex;
                align-items: center;
                span{
                    font-weight: 500;
                }
            }
        }
        .searchUser{
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            margin-top: 10px;
            border-bottom: 1px solid rgb(0, 190, 190);
            &:hover{
                background-color: rgba(2, 179, 179, 0.25);
            }
            .searchUserImg{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }
            .searchUserName{
                font-weight: 500;
            }
        }
        .chatMenuInput{
            width: 100%;
            height: 50px;
            font-size: 16px;
            padding: 10px;
            border: none;
            color: #fff;
            background-color: rgb(0, 53, 53);
            &::placeholder{
                color: #ffffff;
            }
        }
    }
    .chatBox{
        flex: 6.5;
        background-color: rgba(173, 216, 230, 0.336);
        .chatBoxWrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .chatBoxTop{
                padding: 20px;
                height: 100%;
                overflow-y: auto;
            }
            .chatBoxTop::-webkit-scrollbar {
                width: 6px;
            }
            .chatBoxTop::-webkit-scrollbar-thumb {
                background: #929292; 
            }
            .chatBoxTop::-webkit-scrollbar-thumb:hover {
                background: #616161; 
            }
            .chatBoxBottom{
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-top: 1px solid gray;
                padding: 25px 0;
                .chatMessageInput{
                    width: 80%;
                    height: 70px;
                    padding: 10px;
                    font-size: 15px;
                    outline: none;
                    border: 1px solid lightgray;
                }
                .chatSubmitButton{
                    width: 70px;
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: teal;
                    color: #fff;
                }
            }
        }
    }
    .chatOnline{
        flex: 3;
    }
    .chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
        height: 100%;
    }
}